/*page breaks at 564px*/
body {
    height: 1000px;
    background: #e3fddb; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #e3fddb, #58dbdb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #e3fddb, #58dbdb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #e3fddb, #58dbdb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #e3fddb, #58dbdb); /* Standard syntax (must be last) */
}

h1 {
    text-align: center;
    font-family: 'Bungee Shade', Arial, sans-serif;
    font-size: 50px;
}

h3 {
    text-align: center;
}

.intro { /*how come the padding is not centered?*/
    padding: 5px;
    text-align: center;
}

.fa {
    margin-bottom: 25px;
    color: #fff;
}

.feedme-button { 
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
}

.user-weight {
    background-color: #fff;
    height: 30px;
    text-align: center;
    width: 150px;
}

.words {
    font-family: 'Bungee Shade', Arial, sans-serif;
}

.user-weight {
    margin-right:2px;
}

.inputIngredient {
    width: 500px;
    text-align: center;
    background-color: #fff;
    height: 30px;
}

@media only screen and (max-width: 314px) {
    .inputIngredient {
        width: 300px;
    }
} 

@media only screen and (min-width: 315px) and (max-width: 509px) {
    .inputIngredient {
        width: 300px;
    }
    .lowNum {
        width: 100px;
    }
    .highNum {
        width: 100px;
    }
} 

.calorie-inputRow {
    display: inline;
    text-align: center;
}

.ingredient-search {
    text-align: center;
}
.calorie-search {
    margin-top: 20px;
    text-align: center;
}

.lowNum {
    background-color: rgba(88,219,219,0.2);
    height: 30px;
    text-align: center;
}

.highNum {
    background-color: rgba(88,219,219,0.3);
    height: 30px;
    text-align: center;
}
.hidden {
    display: none;
}

.result-count {
    padding-left: 20px;
}

.recipeResults {
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    border: 2px solid #FFF;
    border-radius: 5px;
    color: white;
    display: block;
    float: left;
    font-family: sans-serif;
    height: 200px;
    margin: 20px 2.5%;
    position: relative;
    text-align: center;
    width: 20%;
}

@media only screen and (max-width: 840px) {
    .recipeResults {
        width: 40%;
        margin: 20px 5%;
    }
}

.info {
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    bottom: 0;
    display: none;
    font-size: 18px;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: scroll;
}


.yield {
    text-align: center;
    margin-top: 0px;
}

info.feedback {
    font-family: 'Dancing Script',Arial,sans-serif;
}

.recipe-link {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    display: block;
    font-size: 20px;
    padding: 15px 0;
    position: absolute;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.recipeResults a {
    color: white;
    text-decoration: none;
}

.recipeResults:hover .info {
    display: block;
}

.recipeResults:hover .recipe-link {
    display: none;
}

